/* Index.css */

body {
  padding: 25px;
  width: auto;
  height: auto;
  background-image: url('/res/Aus.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

input[name="winnerList"]  {
  font-size: 18px;
  padding: 5px;
  font-family: serif;
  float: left;
}

input[name="loserList"]  {
  padding: 5px;
  font-size: 18px;
  font-family: serif;
  float: right;
}
div[id="winnerDiv"]{
  width: 550px;
  height: 50px;
  display: inline-block;

}
div[id="loserDiv"]{
  width: 550px;
  height: 50px;
  display: inline-block;

}
div[id="data"]  {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  position: relative;
  width: auto;
  height: 60px;
  display: inline-block;
}
div[id="da"]  {
  margin-top: 5px;
  position: relative;
  width: auto;
  height: auto;
}
div[id="img1"]{
  position: relative;
  width: 300px;
  height: 500px;
  display: inline-block;
  vertical-align: middle;
}
div[id="map"]{
  width: 600px;
  height: 450px;
  display: inline-block;
  vertical-align: middle;

}
div[id="img2"]{
  position: relative;
  width: 300px;
  height: 500px;
  display: inline-block;
  vertical-align: middle;
}
img {
    vertical-align: middle;
}
p{
    font-style: oblique;
    font-family: serif;
    color: #f3312e;
}
h1{
    font-family: serif;
    color: #f3312e;
}
